<form action="/dinosaurs" method="post">
    <div>
        <!-- for and id must be the same -->
    <label for="dinosaurType">Type</label>
    <!--  -->
    <input type="text" name="type" id="dinosaurType">
    </div>
    
    <div>
        <label for="dinosaurName">Name</label>
        <input type="text" name="name" id="dinosaurName">
    </div>

   

    <input type="submit" value="Add a New Dino!">
</form>