<form action="/prehistoric_creatures" method="post">
    <div>
        <!-- for and id must be the same -->
    <label for="prehistoric_type">Type</label>
    <!--  -->
    <input type="text" name="type" id="prehistoric_type">
    </div>
    
    <div>
        <label for="prehistoric_name">Image Link</label>
        <input type="text" name="img_url" id="prehistoric_name">
    </div>

   

    <input type="submit" value="Add a New Prehistoric Creature!">
</form>